*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #8888;
}
header{
  display: flex;
  list-style-type: none;
}
.nav{
  width: 100%;
  background: black;
  height: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;right: 0;
}
.nav .content{
  width: 1140px;
  margin: 0px auto;
}
ul li{
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}
ul li a{
  text-decoration: none;
  display: block;
  line-height: 60px;
  color:  #FBBC01;
  padding-right: 500px;
  font-family: cursive;
  font-size: 16px;
  cursor: pointer;
}
.box
{
    width: 1245px;
    height: 1000px;
    outline: none;
    border-radius: 12px;
    position: relative;
    top: 88px;
    left: 55px;
    background: white;
}
.list
{
  margin-left: 50px;
      margin-right: 50px;

  padding-top: 50px;
}
img
{
  width: 100%;
  height: auto;
  border: 1px solid red;
}